body, .body{
    background-color: gainsboro !important;
    font-family: 'Simonetta', cursive !important;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Courgette', cursive !important;
}

.foot {
    text-align: center !important;
    background-color: rgba(50, 52, 51, 0.95 ) ;
    color: rgba(203, 188, 151, 0.95);
    border-radius: 50px;
    box-shadow: 5px 5px 5px grey;
}

.panel-default{
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}
.panel-heading {
    margin-bottom: 0px !important;
}
.quantity {
    width: 3em;
}
#map {
    height: 500px;
}
.invisible {
    display: none;
}

.visible {
    display: inherit;
    z-index: 1;
}

#hover {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.center-text {
    text-align:center !important;
    color: black !important;
    padding-bottom: 30px;
}

img .center, .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 400px;
    
}
.panel {
    border: none !important;
    background-color: transparent !important;
}

.head {
    border-radius: 25px 25px 0px 0px!important;
    box-shadow: 5px 5px 5px grey;
    border: none !important;
    border-color: transparent !important; 
}

.panel .panel-heading {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 5px grey;
    border: none !important;
    border-color: transparent !important; 

}

.panel-heading {
    font-size: 16px;
}

.panel-body{
    border-radius: 0px 0px 25px 25px!important;
    box-shadow: 5px 5px 5px grey;
}

.loginPanel{
    background-color: rgba(50, 52, 51, 0.95 );
}

.gold{
    color: rgb(203, 188, 151) !important;
}


.dark-gold{
    color: rgba(190, 170, 151, 0.8) !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.resource-list .list-group-item {
    border-color: transparent !important;
    background-color: transparent !important;
    color: rgb(50, 52, 51) !important;
}

.inverse-color {
    background-color:rgb(50, 52, 51) !important;
    border-color: rgb(203, 188, 151) !important;
    color: rgb(203, 188, 151) !important;
}

.navbar, .foot{
    max-width: inherit;
    box-shadow: 5px 5px 5px grey;
}

.red{
    color: red;
}

.noListStyle {
    list-style: none !important;
    padding-left: 0px;
}

.btn-lg:hover, .btn:hover, .resourceLink{
    -webkit-transform: scale(1.15) perspective(1px);
    -moz-transform: scale(1.15) perspective(1px);
    -o-transform: scale(1.15) perspective(1px);
    transform: scale(1.15) perspective(1px);
    
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.side-panel, .side-panel .panel-body, .side-panel .list-group{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.image-panel{
    padding-left: 40px;
}

.pad-bottom {
    padding-bottom: 20px !important;
}

.text-right {
     text-align: right;   
}

.text-left{
    text-align: left;
}

header input{
    margin-top: 2px !important;
    margin-left: 5px !important;
    width: 175px !important;
}